@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
ul,
li {
	list-style: none;
}

body {
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	font-family: "Poppins", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	padding: 18px;
	text-align: center;
	margin: 0;
}

.quiz-container {
	overflow: hidden;
	background-color: #fff;
	width: 600px;
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(98, 98, 54, 0.3);
}

.quiz-header {
	padding: 72px;
}
.btn {
	text-transform: uppercase;
	padding: 18px;
	border: none;
	background-color: hsla(20, 80%, 35%, 0.7);
	width: 100%;
	font-size: 21px;
	color: hsl(0, 0%, 100%);
	font-family: inherit;
	cursor: pointer;
}
.btn:hover {
	background-color: hsla(20, 80%, 35%, 0.8);
}
input,
label {
	cursor: pointer;
	padding: 0px 0px 0px 8px;
}

input {
	position: relative;
	height: 11px;
	width: 11px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

input::before {
	content: "";
	position: absolute;
	top: 55%;
	left: 50%;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 1px solid hsla(20, 80%, 35%, 0.7);
}

input:checked::after {
	content: "";
	position: absolute;
	top: 55%;
	left: 50%;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: hsla(20, 80%, 35%, 0.7);
	transform: translate(-50%, -50%);
	visibility: visible;
}
