@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
ul,
li {
	list-style: none;
}

body {
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	font-family: "Poppins", sans-serif;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	padding: 18px;
	text-align: center;
	margin: 0;
}

.quiz-container {
	overflow: hidden;
	background-color: #fff;
	width: 600px;
	max-width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(98, 98, 54, 0.3);
}

.quiz-header {
	padding: 72px;
}

.btn {
	padding: 18px;
	border: none;
	background-color: rgb(30, 107, 251);
	width: 100%;
	font-size: 21px;
	color: #fff;
	font-family: inherit;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(27, 90, 207);
}

ul li {
	font-size: 20px;
	margin: 18px 0px;
}

ul li label {
	cursor: pointer;
}

@media (max-width: 610px) {
	body {
		padding: 10px;
	}
}
